$white: rgba(255, 255, 255, 0.685);
$blue: #b5ccfd;
$green: #c1d1ff;
$yellow: #d0cbff;
$pink: #d6c5ff;


.main-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    height: fit-content;
    margin: 3%;
    border-radius: 20px;
    background: 
    radial-gradient(circle at bottom, $white, transparent 90%),    
    linear-gradient(to top, rgb(165, 203, 241) 0%, transparent 80%),    
    linear-gradient(to bottom, transparent, rgba($white, 0.4) 90%),
    $blue;  
    animation: bg 15s infinite;
    @keyframes bg {
        0%, 100% { background-color: $blue; }
        100% { background-color: $green; }
      }
    // &:hover{
    //     -webkit-box-shadow: 0px 0px 20px 0px rgba(55, 60, 63, 0.29); 
    //     box-shadow: 0px 0px 20px 0px rgba(55, 60, 63, 0.29);
    // }
    .card-Text{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 5%;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 700px;
        color: rgb(255, 255, 255)
    }
    .cardPicture {
        margin: auto;
        height: fit-content;
        width: 90%;
        img {
          border-radius: 20px;
          width: 100%;
          margin-bottom: 10px;
        }
    }
    a{
        margin-top: 30px;
        margin-left: 70%;
        margin-bottom: 1%;
        font-size: 20px;
        &:hover{
            text-decoration: none;
            color: rgb(64, 97, 207);
        }
    }
}